.btn {
  border-radius: .5rem;
  border: 0;
  font-size: 1.5rem;
  height: 2rem;
  line-height: 1.2rem;
  margin-right: 1rem;
  width: 8rem;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  color: #ccc;
  background-color: transparent;
}
.btn:hover {
  color: #fff;
  background-color: #00FFFF;
  border: 2px solid transparent;
}